*.txt
*.pyc
__pycache_
.idea
slurm*
events.out*
*.pth
/tensorflow_datasets/
/SpeechCommands/
/poisson_ddpm_audio/
*/eval/
*.zip
*.gz
*.wav
*.png
.vscode/
*.pyc
wandb
SC09*
.ipynb_checkpoints
__pycache__
*.tfrecords
experiments/
pfgm*
*.out
venv
mel_datasets
/Samples/
poissound/lib
poissound/bin
poissound
test
eval/gt_stats_64/activations*
eval/gt_stats_128/activations*
*.lz4
evaluation/
checkpoints/pfgm/*
checkpoints/resnext/*
checkpoints/diffwave/*
*.lz4
*_sync_*
gdrive*
cifar*
