*.txt
*.pyc
__pycache_
.idea
slurm*
events.out*
*.pth
/tensorflow_datasets/
/SpeechCommands/
/poisson_ddpm_audio/
*/eval/
*.zip
*.gz
*.wav
*.png
.vscode/
*.pyc
wandb
SC09*
.ipynb_checkpoints
__pycache__
*.tfrecords
experiments/
pfgm*
*.out
venv
mel_datasets
poissound/lib
poissound/bin
poissound
test
*.lz4
results/
checkpoints/*
*.lz4
*_sync_*
gdrive*
cifar*
/research/
*.npz
*.sh
*.gif
diffwave-ljspeech-22kHz-1000578.pt
*.sh
*.pt
movie.gif
/research/
eval_mathias.py
