*.txt
*.pyc
__pycache_
.idea
slurm*
events.out*
*.pth
/tensorflow_datasets/
/SpeechCommands/
/poisson_ddpm_audio/
*/eval/
*.zip
*.gz
*.wav
*.png
.vscode/
*.pyc
wandb
SC09*
.ipynb_checkpoints
__pycache__
*.tfrecords
experiments/
pfgm*
*.out
venv
mel_datasets
/Samples/
*.lz4
*_sync_*
gdrive*
cifar*
*.sh
*.pt
tester.ipynb
movie.gif
tester.ipynb
